services:
# ----------------------------- FILE WATCHER -----------------------------
  data-loading-webapp:
    profiles:
      - local-dev
      - all

# ----------------------------- KAFKA -----------------------------
  kafka-broker-0:
    profiles:
      - local-dev
      - all

  # kafka-broker-1:
  #   profiles: []

  kafka-init:
    profiles:
      - local-dev
      - all

# ----------------------------- TASK DISPATCHER -----------------------------

  task-dispatcher:
    profiles:
      - local-dev
      - all

# ----------------------------- TEST TASK -----------------------------

  test-task:
    profiles:
      - local-dev

# ----------------------------- TASK RESULTS HANDLER -----------------------------

  task-results-handler:
    profiles:
      - local-dev
      - all

# ----------------------------- HIVE METASTORE -----------------------------
  hive-metastore:
    profiles:
      - local-dev
      - all

# ----------------------------- MINIO -----------------------------
  minio:
    profiles:
      - local-dev
      - all

  minio-init:
    profiles:
      - local-dev
      - all

# ----------------------------- TRINO -----------------------------
  trino:
    profiles:
      - local-dev
      - all

# ----------------------------- CDC -----------------------------
  cdc-script:
    profiles:
      - local-dev
      - all

# ----------------------------- RANGER -----------------------------
  ranger:
    profiles:
      - all

  ranger-zk:
    profiles: 
      - all

  ranger-solr:
    profiles:
      - all

  ranger-db:
    profiles:
      - local-dev
      - all

  ranger-tagsync:
    profiles:
      - all

# ----------------------------- ATLAS  -----------------------------

  atlas:
    profiles:
      - all

# ----------------------------- SUPERSET -----------------------------
  superset:
    profiles:
      - all
