{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
            <a href="#">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card-content">
                            <h5 class="mdc-typography--headline5 mdc-theme--primary-bg mdc-theme--on-primary">Pazienti
                            </h5>
                            <!-- <h2 class="mdc-typography--headline6">A solid decision.</h2> -->
                            <p class="mdc-typography--subtitle1">
                                Carica i dati dei pazienti tramite un file Excel
                            </p>
                        </div>
                        <div class="mdc-card__ripple"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="mdc-layout-grid__cell">
            <a href="#">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action">
                        <div class="mdc-card-content">
                            <h5 class="mdc-typography--headline5 mdc-theme--primary-bg mdc-theme--on-primary">Risultati
                                MiRNA
                            </h5>
                            <!-- <h2 class="mdc-typography--headline6">A solid decision.</h2> -->
                            <p class="mdc-typography--subtitle1">
                                Carica i risultati dell'analisi MiRNA tramite un file Excel
                            </p>
                        </div>
                        <div class="mdc-card__ripple"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="mdc-layout-grid__cell">
            <a href="#">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action">
                        <div class="mdc-card-content">
                            <h5 class="mdc-typography--headline5 mdc-theme--primary-bg mdc-theme--on-primary">Tasks
                            </h5>
                            <!-- <h2 class="mdc-typography--headline6">A solid decision.</h2> -->
                            <p class="mdc-typography--subtitle1">
                                Avvia i task di training/inferenza del modello
                            </p>
                        </div>
                        <div class="mdc-card__ripple"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}