{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
            <a href="{{ url_for('patients-data-loading.view_data_loading_dashboard') }}">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <h5
                            class="mdc-typography--headline5 mdc-theme--primary-bg mdc-theme--on-primary prin-card__section">
                            Pazienti
                        </h5>
                        <div class="prin-card__section">
                            <p class="mdc-typography--subtitle1">
                                Carica i dati dei pazienti tramite un file Excel
                            </p>
                        </div>
                        <div class="mdc-card__ripple"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="mdc-layout-grid__cell">
            <a href="{{ url_for('mir-results-data-loading.view_data_loading_dashboard') }}">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action">
                        <h5
                            class="mdc-typography--headline5 mdc-theme--primary-bg mdc-theme--on-primary prin-card__section">
                            Risultati MiRNA
                        </h5>
                        <div class="prin-card__section">
                            <p class="mdc-typography--subtitle1">
                                Carica i risultati dell'analisi MiRNA tramite un file Excel
                            </p>
                        </div>
                        <div class="mdc-card__ripple"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="mdc-layout-grid__cell">
            <a href="{{ url_for('task-runner.view_task_runner_dashboard') }}">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action">
                        <h5
                            class="mdc-typography--headline5 mdc-theme--primary-bg mdc-theme--on-primary prin-card__section">
                            Tasks
                        </h5>
                        <div class="prin-card__section">
                            <p class="mdc-typography--subtitle1">
                                Avvia i task di training/inferenza del modello
                            </p>
                        </div>
                        <div class="mdc-card__ripple"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="mdc-layout-grid__cell">
            <a href="{{ url_for('task-results.view_task_results') }}">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action">
                        <h5
                            class="mdc-typography--headline5 mdc-theme--primary-bg mdc-theme--on-primary prin-card__section">
                            Task Results
                        </h5>
                        <div class="prin-card__section">
                            <p class="mdc-typography--subtitle1">
                                View the results of each task.
                            </p>
                        </div>
                        <div class="mdc-card__ripple"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}