<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>BA-PHERD - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
</head>

<body class="mdc-typography">
    <!-- <div class="top-right-form">
        <form id="login-form" data-login-step="change">
            <label>
                Group Name<br>
                <input type="text" id="group-name" name="group_name" value="{{ group_name }}" readonly required
                    minlength="1">
            </label><br>
            <label>
                Username<br>
                <input type="text" id="username" name="username" value="{{ username }}" readonly required minlength="1">
            </label><br>
            <button type="submit" class="pretty-button" id="login-submit-btn">Modifica</button>
        </form>
        <div id="login-message" class="message"></div>
    </div> -->

    <aside class="mdc-drawer mdc-drawer--dismissible">
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                    <span class="mdc-list-item__text">Inbox</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                    <span class="mdc-list-item__text">Outgoing</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                    <span class="mdc-list-item__text">Drafts</span>
                </a>
            </nav>
        </div>
    </aside>
    <div class="mdc-drawer-app-content mdc-theme--background page-container">
        <header class="mdc-top-app-bar mdc-top-app-bar--fixed" id="top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                    <span class="mdc-top-app-bar__title">BA-PHERD</span>
                </section>
            </div>
        </header>
        <main class="main-content mdc-top-app-bar--fixed-adjust" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust">
                {% block main_content %}{% endblock %}
            </div>
        </main>
        <footer class="footer">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell">
                        <img src="{{ url_for('static', filename='logos/italiadomani.png') }}" class="footer-logo">
                    </div>
                    <div class="mdc-layout-grid__cell">
                        <img src="{{ url_for('static', filename='logos/MUR.png') }}" class="footer-logo">
                    </div>
                    <div class="mdc-layout-grid__cell">
                        <img src="{{ url_for('static', filename='logos/NextGenerationEU.png') }}" class="footer-logo">
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- <div class="container">
        {% block container_content %}{% endblock %}
    </div> -->

    {% block js %}{% endblock %}

    <script type="module">
        // material design
        const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('top-app-bar'));
        const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
        topAppBar.setScrollTarget(document.getElementById('main-content'));
        topAppBar.listen('MDCTopAppBar:nav', () => {
            drawer.open = !drawer.open;
        });

        const listEl = document.querySelector('.mdc-drawer .mdc-list');
        const mainContentEl = document.querySelector('.main-content');

        listEl.addEventListener('click', (event) => {
            mainContentEl.querySelector('input, button, .mdc-card').focus();
        });

        // document.body.addEventListener('MDCDrawer:closed', () => {
        //     mainContentEl.querySelector('input, button').focus();
        // });
    </script>

    <!-- <script>
        const group = document.getElementById('group-name');
        const user = document.getElementById('username');
        const loginMessage = document.getElementById('login-message');
        const loginSubmitBtn = document.getElementById('login-submit-btn');
        const loginForm = document.getElementById('login-form');
        loginForm.addEventListener('submit', function (e) {
            e.preventDefault();
            if (loginForm.dataset.loginStep === 'change') {
                group.readOnly = false;
                user.readOnly = false;
                loginSubmitBtn.textContent = 'Login'
                loginForm.dataset.loginStep = 'login';

                return;
            }

            loginSubmitBtn.disabled = true;
            group.readOnly = true;
            user.readOnly = true;
            loginSubmitBtn.textContent = 'Modifica'
            loginForm.dataset.loginStep = 'change';

            fetch("{{ url_for('users.login_user') }}", {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ group_name: group.value, username: user.value })
            })
                .then(res => {
                    console.log(res);

                    if (res.ok) {
                        showMsg(loginMessage, `Login con utente ${group.value}:${user.value}`, 'success');
                    }
                    else {
                        throw new Error(`The response returned status ${res.status}`);
                    }
                })
                .catch(err => {
                    showMsg(loginMessage, 'Si è verificato un errore', 'error');
                    console.error(err);
                })
                .then(_ => {
                    loginSubmitBtn.disabled = false;
                });
        });
    </script> -->
</body>

</html>