<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>BA-PHERD - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@14.0.0/dist/material-components-web.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
</head>

<body class="mdc-typography">
    <div class="mdc-dialog" id="login-dialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface" role="dialog" aria-modal="true" aria-labelledby="login-dialog-title"
                aria-describedby="login-dialog-content">
                <form>
                    <h2 class="mdc-dialog__title" id="login-dialog-title">User Login</h2>
                    <div class="mdc-dialog__content" id="login-dialog-content">
                        <div id="login-dialog-content">
                            <div id="login-group-select"
                                class="mdc-select mdc-select--filled mdc-select--required login-dialog-content__select-input">
                                <input type="hidden" name="group">
                                <div class="mdc-select__anchor" role="button" aria-haspopup="listbox"
                                    aria-required="true" aria-expanded="false">
                                    <span class="mdc-select__ripple"></span>
                                    <span class="mdc-floating-label">Gruppo</span>
                                    <span class="mdc-select__selected-text-container">
                                        <span class="mdc-select__selected-text"></span>
                                    </span>
                                    <span class="mdc-select__dropdown-icon">
                                        <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5"
                                            focusable="false">
                                            <polygon class="mdc-select__dropdown-icon-inactive" stroke="none"
                                                fill-rule="evenodd" points="7 10 12 15 17 10">
                                            </polygon>
                                            <polygon class="mdc-select__dropdown-icon-active" stroke="none"
                                                fill-rule="evenodd" points="7 15 12 10 17 15">
                                            </polygon>
                                        </svg>
                                    </span>
                                    <span class="mdc-line-ripple"></span>
                                </div>
                                <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                    <ul class="mdc-list" role="listbox" aria-label="Groups list">
                                        <li class="mdc-list-item mdc-list-item--selected" aria-selected="true"
                                            data-value="" role="option">
                                            <span class="mdc-list-item__ripple"></span>
                                        </li>
                                        <li class="mdc-list-item" aria-selected="false" data-value="test-group1"
                                            role="option">
                                            <span class="mdc-list-item__ripple"></span>
                                            <span class="mdc-list-item__text">
                                                test-group1
                                            </span>
                                        </li>
                                        <li class="mdc-list-item" aria-selected="false" data-value="test-group2"
                                            role="option">
                                            <span class="mdc-list-item__ripple"></span>
                                            <span class="mdc-list-item__text">
                                                test-group2
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="login-user-select"
                                class="mdc-select mdc-select--filled mdc-select--required mdc-select--disabled login-dialog-content__select-input">
                                <input type="hidden" name="user" disabled="true" />
                                <div class=" mdc-select__anchor" role="button" aria-haspopup="listbox"
                                    aria-required="true" aria-expanded="false" aria-disabled="true">
                                    <span class="mdc-select__ripple"></span>
                                    <span class="mdc-floating-label">Utente</span>
                                    <span class="mdc-select__selected-text-container">
                                        <span class="mdc-select__selected-text"></span>
                                    </span>
                                    <span class="mdc-select__dropdown-icon">
                                        <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5"
                                            focusable="false">
                                            <polygon class="mdc-select__dropdown-icon-inactive" stroke="none"
                                                fill-rule="evenodd" points="7 10 12 15 17 10">
                                            </polygon>
                                            <polygon class="mdc-select__dropdown-icon-active" stroke="none"
                                                fill-rule="evenodd" points="7 15 12 10 17 15">
                                            </polygon>
                                        </svg>
                                    </span>
                                    <span class="mdc-line-ripple"></span>
                                </div>
                                <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                    <ul class="mdc-list" role="listbox" aria-label="Users list">
                                        <li class="mdc-list-item mdc-list-item--selected" aria-selected="true"
                                            data-value="" role="option">
                                            <span class="mdc-list-item__ripple"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>




                            <!-- <label class="mdc-text-field mdc-text-field--filled">
                                <span class="mdc-text-field__ripple"></span>
                                <span class="mdc-floating-label" id="login-user-label">User</span>
                                <input class="mdc-text-field__input" type="text" aria-labelledby="login-user-input"
                                    data-mdc-dialog-initial-focus />
                                <span class="mdc-line-ripple"></span>
                            </label> -->
                            <!-- <select id="login-group-select">
                                <button>
                                    <selectedcontent></selectedcontent>
                                </button>

                                <option value="">Selezionare il gruppo</option>
                                <option value="cat">
                                    <span class="option-label" aria-hidden="true">test-group1</span>
                                </option>
                                <option value="cat">
                                    <span class="option-label" aria-hidden="true">test-group2</span>
                                </option>
                            </select> -->
                        </div>
                    </div>
                    <div class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept"
                            data-mdc-dialog-button-default>
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Login</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
    <!-- <div class="top-right-form">
        <form id="login-form" data-login-step="change">
            <label>
                Group Name<br>
                <input type="text" id="group-name" name="group_name" value="{{ group_name }}" readonly required
                    minlength="1">
            </label><br>
            <label>
                Username<br>
                <input type="text" id="username" name="username" value="{{ username }}" readonly required minlength="1">
            </label><br>
            <button type="submit" class="pretty-button" id="login-submit-btn">Modifica</button>
        </form>
        <div id="login-message" class="message"></div>
    </div> -->

    <aside class="mdc-drawer" id="side-nav-bar">
        <div class="mdc-drawer__header">
            <div id="side-nav-bar-header" class="centered-flex-column">
                <img class="user-avatar" src="{{ url_for('static', filename='images/user-account.png') }}"
                    alt="anonymous" />
                <h3 class="mdc-drawer__title">Mail</h3>
                <h6 class="mdc-drawer__subtitle">email@material.io</h6>
                <button class="mdc-button mdc-button--raised user-account-button" id="login-button">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Login</span>
                </button>
                <button class="mdc-button mdc-button--raised user-account-button">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Logout</span>
                </button>
            </div>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <hr class="mdc-list-divider">
                <a class="mdc-list-item mdc-list-item--activated" href="#">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                    <span class="mdc-list-item__text">Home</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">groups</i>
                    <span class="mdc-list-item__text">Pazienti</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">biotech</i>
                    <span class="mdc-list-item__text">Risultati MiRNA</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">construction</i>
                    <span class="mdc-list-item__text">Tasks</span>
                </a>
            </nav>
        </div>
    </aside>
    <div class="mdc-drawer-app-content mdc-theme--background page-container">
        <header class="mdc-top-app-bar mdc-top-app-bar--fixed" id="top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <!-- <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button> -->
                    <span class="mdc-top-app-bar__title">BA-PHERD</span>
                </section>
            </div>
        </header>
        <main class="main-content mdc-top-app-bar--fixed-adjust" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust">
                {% block main_content %}{% endblock %}
            </div>
        </main>
        <footer class="footer">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell">
                        <img src="{{ url_for('static', filename='logos/italiadomani.png') }}" class="footer-logo">
                    </div>
                    <div class="mdc-layout-grid__cell">
                        <img src="{{ url_for('static', filename='logos/MUR.png') }}" class="footer-logo">
                    </div>
                    <div class="mdc-layout-grid__cell">
                        <img src="{{ url_for('static', filename='logos/NextGenerationEU.png') }}" class="footer-logo">
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- <div class="container">
        {% block container_content %}{% endblock %}
    </div> -->

    {% block js %}{% endblock %}

    <script type="module">
        // **MATERIAL DESIGN**

        // ** INITIALIZATION **
        // select
        // document.querySelectorAll('.mdc-select').forEach(el => {
        //     new mdc.select.MDCSelect(el);
        // });

        // top app bar
        const topAppBar = new mdc.topAppBar.MDCTopAppBar(document.getElementById('top-app-bar'));

        // buttons
        document.querySelectorAll('.mdc-button').forEach(el => {
            new mdc.ripple.MDCRipple(el);
        });

        // list
        const drawerListElem = document.querySelector('#side-nav-bar .mdc-list')
        const drawerList = new mdc.list.MDCList(drawerListElem);
        document.querySelectorAll('.mdc-list-item').forEach(el => {
            new mdc.ripple.MDCRipple(el);
        });

        // text fields
        document.querySelectorAll('.mdc-text-field').forEach(el => {
            new mdc.textField.MDCTextField(el);
        });

        // dialogs
        const loginDialog = new mdc.dialog.MDCDialog(document.querySelector('#login-dialog'));

        // ** END INITIALIZATION **

        // ** LOGIN **
        const loginGroupSelect = new mdc.select.MDCSelect(document.querySelector('#login-group-select'));
        const loginUserSelect = new mdc.select.MDCSelect(document.querySelector('#login-user-select'));
        loginDialog.listen('MDCDialog:opened', () => {
            loginGroupSelect.layout();
            loginUserSelect.layout();
        });

        const groupToUsersMap = new Map([
            ['test-group1', ['specialistdoc_user1', 'researcher_user1', 'careworker_user1']],
            ['test-group2', ['specialistdoc_user2', 'researcher_user2', 'careworker_user2']]
        ])

        loginGroupSelect.listen('MDCSelect:change', function () {
            document.querySelector('#login-user-select .mdc-list').innerHTML = `
                <li class="mdc-list-item mdc-list-item--selected" aria-selected="true"
                    data-value="" role="option">
                    <span class="mdc-list-item__ripple"></span>
                </li>
                ${groupToUsersMap.get(loginGroupSelect.value).map(user => `
                <li class="mdc-list-item" aria-selected="false" data-value="${user}"
                    role="option">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">
                        ${user}
                    </span>
                </li>`).join('\n')}`;

            loginUserSelect.disabled = false;
            loginUserSelect.layout();
        });

        // drawer
        drawerList.wrapFocus = true;
        topAppBar.setScrollTarget(document.getElementById('main-content'));

        const mainContent = document.querySelector('.main-content');
        drawerListElem.addEventListener('click', (event) => {
            mainContent.querySelector('input, button, a').focus();
        });

        document.querySelector('#login-button').addEventListener('click', e => {
            loginDialog.open();
        })
    </script>

    <!-- <script>
        const group = document.getElementById('group-name');
        const user = document.getElementById('username');
        const loginMessage = document.getElementById('login-message');
        const loginSubmitBtn = document.getElementById('login-submit-btn');
        const loginForm = document.getElementById('login-form');
        loginForm.addEventListener('submit', function (e) {
            e.preventDefault();
            if (loginForm.dataset.loginStep === 'change') {
                group.readOnly = false;
                user.readOnly = false;
                loginSubmitBtn.textContent = 'Login'
                loginForm.dataset.loginStep = 'login';

                return;
            }

            loginSubmitBtn.disabled = true;
            group.readOnly = true;
            user.readOnly = true;
            loginSubmitBtn.textContent = 'Modifica'
            loginForm.dataset.loginStep = 'change';

            fetch("{{ url_for('users.login_user') }}", {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ group_name: group.value, username: user.value })
            })
                .then(res => {
                    console.log(res);

                    if (res.ok) {
                        showMsg(loginMessage, `Login con utente ${group.value}:${user.value}`, 'success');
                    }
                    else {
                        throw new Error(`The response returned status ${res.status}`);
                    }
                })
                .catch(err => {
                    showMsg(loginMessage, 'Si è verificato un errore', 'error');
                    console.error(err);
                })
                .then(_ => {
                    loginSubmitBtn.disabled = false;
                });
        });
    </script> -->
</body>

</html>