{% extends "layout.html" %}
{% block title %}Trigger inferenza{% endblock %}
{% block common_css %}
    {{ super() }}
{% endblock %}
{% block container_content %}
    <button id="start-inference-btn" class="pretty-button">Avvia inferenza</button>
    <div id="inference-result-msg" class="message"></div>
{% endblock %}
{% block js %}
<script>
    const startInferenceBtn = document.getElementById('start-inference-btn');
    const inferenceResultMsg = document.getElementById('inference-result-msg');

    startInferenceBtn.addEventListener('click', () => {
        startInferenceBtn.disabled = true;

        fetch("{{ url_for('model-inference.trigger_inference') }}", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }
        })
        .then(res => {
            startInferenceBtn.disabled = false;
            console.log(res);

            if (res.ok) {
                showInferenceResultMsg("Inferenza avviata", 'success');
            } 
            else {
                throw new Error(`The response returned status ${res.status}`);
            }
        })
        .catch(err => {
            startInferenceBtn.disabled = false;
            showInferenceResultMsg('Si è verificato un errore', 'error');
            console.error(err);
        });
    });

    function showInferenceResultMsg(text, type) {
        inferenceResultMsg.textContent = text;
        inferenceResultMsg.className = `message ${type}`;
        
        setTimeout(() => {
            inferenceResultMsg.textContent = '';
            inferenceResultMsg.className = 'message';
        }, 10000);
    }
</script>
{% endblock %}
