{% extends "layout.html" %}
{% block title %}Trigger inferenza{% endblock %}
{% block common_css %}
    {{ super() }}
{% endblock %}
{% block container_content %}
    <button id="actionBtn" class="pretty-button">Avvia inferenza</button>
    <div id="message" class="message"></div>
{% endblock %}
{% block js %}
<script>
    const btn = document.getElementById('actionBtn');
    const msg = document.getElementById('message');

    btn.addEventListener('click', () => {
        btn.disabled = true;

        fetch("{{ url_for('model-inference.trigger_inference') }}", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }
        })
        .then(res => {
            btn.disabled = false;
            console.log(res);

            if (res.ok) {
                showMessage("Inferenza avviata", 'success');
            } 
            else {
                throw new Error(`The response returned status ${res.status}`);
            }
        })
        .catch(err => {
            btn.disabled = false;
            showMessage('Si è verificato un errore', 'error');
            console.error(err);
        });
    });

    function showMessage(text, type) {
        msg.textContent = text;
        msg.className = `message ${type}`;
        
        setTimeout(() => {
            msg.textContent = '';
            msg.className = 'message';
        }, 10000);
    }
</script>
{% endblock %}
