{% extends "layout.html" %}
{% block title %}Caricamento dati pazienti{% endblock %}
{% block css %}
    {{ super() }}
{% endblock %}
{% block container_content %}
    <h2>Carica i dati dei pazienti - Training</h2>
    <form id="upload-training-data-form" enctype="multipart/form-data">
        <input class="pretty-button" type="file" id="training-data-input" accept=".xls,.xlsx,.odt" required>
        <button class="pretty-button" id="submit-training-data-btn" type="submit">Invia</button>
    </form>
    <div id="upload-training-data-result-msg" class="message"></div>
    <hr />
    <h2>Carica i dati dei pazienti - Inferenza</h2>
    <form id="upload-inference-data-form" enctype="multipart/form-data">
        <input class="pretty-button" type="file" id="inference-data-input" accept=".xls,.xlsx,.odt" required>
        <button class="pretty-button" id="submit-inference-data-btn" type="submit">Invia</button>
    </form>
    <div id="upload-inference-data-result-msg" class="message"></div>
{% endblock %}
{% block js %}
<script>
    const trainingDataInput = document.getElementById('training-data-input');
    const uploadTrainingDataResultMsg = document.getElementById('upload-training-data-result-msg');
    const submitTrainingDataBtn = document.getElementById('submit-training-data-btn');

    addFileUploadSubmitListener(document.getElementById('upload-training-data-form'),
        submitTrainingDataBtn,
        "{{ url_for('patients-data-loading.load_from_excel') }}?scope=training",
        trainingDataInput,
        uploadTrainingDataResultMsg
    )
    
    const inferenceDataInput = document.getElementById('inference-data-input');
    const uploadInferenceDataResultMsg = document.getElementById('upload-inference-data-result-msg');
    const submitInferenceDataBtn = document.getElementById('submit-inference-data-btn');

    addFileUploadSubmitListener(document.getElementById('upload-inference-data-form'),
        submitInferenceDataBtn,
        "{{ url_for('patients-data-loading.load_from_excel') }}?scope=inference",
        inferenceDataInput,
        uploadInferenceDataResultMsg
    )
</script>
{% endblock %}
