{% extends "layout.html" %}
{% block title %}Caricamento dati pazienti{% endblock %}
{% block common_css %}
    {{ super() }}
{% endblock %}
{% block container_content %}
    <h2>Carica i dati dei pazienti</h2>
    <form id="upload-file-form" enctype="multipart/form-data">
        <input class="pretty-button" type="file" id="file-input" accept=".xls,.xlsx,.odt" required>
        <button class="pretty-button" id="submit-file-btn" type="submit">Invia</button>
    </form>
    <div id="upload-result-msg" class="message"></div>
{% endblock %}
{% block js %}
<script>
    const fileInput = document.getElementById('file-input');
    const uploadResultMsg = document.getElementById('upload-result-msg');
    const submitFileBtn = document.getElementById('submit-file-btn');
    document.getElementById('upload-file-form').addEventListener('submit', function (event) {
        event.preventDefault();
        submitFileBtn.disabled = true;

        if (fileInput.files.length === 0) {
            showUploadResultMsg('Non hai caricato alcun file', 'error');
            return;
        }

        const file = fileInput.files[0];
        if (!file.name.match(/\.(xls|xlsx|odt)$/)) {
            showUploadResultMsg('Il tipo di file non è valido. File compatibili: .xls,.xlsx,.odt', 'error');
            return;
        }

        const formData = new FormData();
        formData.append('data_file', file);

        fetch("{{ url_for('patients-data-loading.load_from_excel') }}", {
            method: 'POST',
            body: formData
        })
        .then(res => {
            submitFileBtn.disabled = false;
            console.log(res);

            if (res.ok) {
                showUploadResultMsg('File caricato correttamente', 'success');
            }
            else {
                throw new Error(`The response returned status ${res.status}`);
            }
        })
        .catch(error => {
            submitFileBtn.disabled = false;
            showUploadResultMsg('Si è verificato un errore', 'error');
            console.error(error);
        });
    });

    function showUploadResultMsg(text, type) {
        uploadResultMsg.textContent = text;
        uploadResultMsg.className = `message ${type}`;

        fileInput.value = ''

        setTimeout(() => {
            uploadResultMsg.textContent = ''
            uploadResultMsg.className = 'message';
        }, 10000)
    }
</script>
{% endblock %}
